/* FILTERS */
#filters {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#type-filters {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.filter-btn {
  background: var(--yellow);
  border: 2px solid var(--brown);
  color: var(--deep-brown);
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.filter-btn.active {
  background: var(--orange);
}

#size-filter-container {
  margin-top: 0.8rem;
}

#size-filter {
  padding: 0.4rem;
  border-radius: 8px;
  border: 2px solid var(--brown);
}
